@import "~antd/dist/antd.css";

.h100 {
    height: calc(100vh - 64px);
}

.event-list {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
}

.event-list button {
    border: none;
    color: red;
    background: none;
}
